{% for top_answer in top_answers %}
<div class="answer-summary">
    <a href="{{ top_answer.get_absolute_url() }}">
        <span class="answer-votes {% if top_answer.accepted() %}answered-accepted{% endif %}">
            {{ top_answer.score }}
        </span>
    </a>
    <div class="answer-link">
        {% spaceless %}
        <a href="{% url question top_answer.thread._question_post().id %}{{ top_answer.thread.title|slugify }}#{{top_answer.id}}">{{ top_answer.thread.title|escape }}</a>
        {% endspaceless %}
    </div>
</div>
{% endfor %}
